{% extends 'base.html' %}
{% block title %}Posts{% endblock %}

{% block content%}
        <h1>{{ post.title }}</h1>
        <h3>By {{ post.author }}</h3>
        <small>{{ post.pub_date }} | {{post.category}}</small>
     
        {% if user.is_authenticated and ppost.author.id == user.id %}
        <a href="{% url 'update_post' post.pk %}">Edit</a>
        |
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        <br />   
        <br />
        {% endif %}
        <div>{{ post.body|safe }}</div>
        <br/>
    
        <a href="{% url 'home' %}" class="btn btn-danger">Back</a>

        <br/>
    
{% endblock %}