{% extends "base.html" %}
{% block title %}Edit Post{% endblock %}


{% block content %}
{% if user.is_authenticated and post.author.id == user.id %}
        <h1>Edit Post</h1>
        <br />
        <div class="form-group">
        <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" value="submit">Save Changes</button>
        </form>
        </div>
{% else %}
<h1>Please log in or register to edit</h1>
{% endif %}

{% endblock %}